.downloads{
	overflow:hidden;
	margin-bottom: 20px;
}
.downloads ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 5px 20px 5px 30px;
	float: left;
	font-size: 0.85em;
	.borderd;
	&:hover{
		text-decoration: none;
		background: -moz-linear-gradient(top,rgba(242,242,242,0.25) 0,rgba(242,242,242,0.7) 51%,rgba(242,242,242,0.8) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,0.25)),color- stop(51%,rgba(242,242,242,0.7)),color-stop(100%,rgba(242,242,242,0.8)));
  background: -webkit-linear-gradient(top,rgba(242,242,242,0.25) 0,rgba(242,242,242,0.7) 51%,rgba(242,242,242,0.8) 100%);
  background: -o-linear-gradient(top,rgba(242,242,242,0.25) 0,rgba(242,242,242,0.7) 51%,rgba(242,242,242,0.8) 100%);
  background: -ms-linear-gradient(top,rgba(242,242,242,0.25) 0,rgba(242,242,242,0.7) 51%,rgba(242,242,242,0.8) 100%);
  background: linear-gradient(to bottom,rgba(242,242,242,0.25) 0,rgba(242,242,242,0.7) 51%,rgba(242,242,242,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40f2f2f2',endColorstr='#ccf2f2f2',GradientType=0);
  -webkit-box-shadow: 3px 3px 4px 0 rgba(50,50,50,0.25);
  -moz-box-shadow: 3px 3px 4px 0 rgba(50,50,50,0.25);
  box-shadow: 3px 3px 4px 0 rgba(50,50,50,0.25);
	}
}
.downloads ul li a span {
	top: 7px;
	left: 4px;
}