.news ul {
	margin: 0;
}
.news ul li {
	list-style-type: none;
	padding: 5px 0 10px;
}
.news ul li.alternate {
	background-color: #E5E5E5;
}
.news ul li h2,
.news ul li h2 a {
	color: #505050;
	font-size: 1em;
	text-decoration: none;
}
.news ul li h2 {
	 margin-bottom: 5px;	
}
.news ul li p {
	padding-bottom: 10px;	
/*
	max-height: 60px;
*/
}
.news ul li img {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.news ul li a.more {
	color: #505050;
	border-top: 2px solid;
	padding-top: 3px;
}
.news ul li a.more span.sprite {
	right: 0;
}
.newsitem {
	padding-bottom: 15px;
}

/* IE Fixes */
.ie6 .news ul li a.more span.sprite {
	right: 5px;
}